@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Red Rose", cursive; */
}

body {
    background: url('./assets/pexels-ekaterina-bolovtsova-6077326.jpg') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    font-family: 'Montserrat',
        sans-serif;
    color: #fff;
    font-size: 18px;
    background-position-y: 220px;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
nav.navbar {
    display: grid;
    grid-template-columns: 1fr 1.3fr 130px;
    margin-bottom: 60px;
    align-items: center;
}

ul.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    line-height: 1.5rem;
    padding: 0;
    grid-column-gap: 16px;
    color: #ccc;
    font-size: 18px;
}

.list-item:first-child {
    font-weight: bold;
}

.container {
    background: #2b2922;
    padding: 30px 100px 70px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-heading {
    font-size: 69px;
}

.hero p {
    padding: 20px 100px;
    line-height: 1.5;
    color: #ccc;
}

.button-small {
    border: 1px solid #a08f36;
    appearance: none;
    background: transparent;
    color: #a08f36;
    padding: 16px 32px;
    white-space: nowrap;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.logo {
    width: 100px;
}